<!--<h1>Page#home</h1>
<p>Find me in app/views/page/home.html.erb</p>-->
<body id="page" style="height: 100vh;">
  <div id="messageDiv"></div>
  <!--<script>window.onload = function(){
      document.getElementById('messageDiv).innerHTML = (window.innerHeight);
      document.getElementById('page').style.height = window.innerHeight;
      document.getElementById('messageDiv').innerHTML = (document.getElementById('page').style.height);
      document.getElementById('messageDiv').innerHTML = (getElementById('page').height);
    }
  </script>-->
    <ul id ="navBar" class="nav">
      <li id="menu"><a href="home.html"><img src="/images/icon_nav_menu.png" alt="icon_nav_menu"></a></li>
      <li id="pageTitle"><h1>Catbit</h1></li>
      <li id="pageIcon"></li>
    </ul>
    <div id="navSpaceHolder" class="navSpacer">Navigation Bar</div>
    
    <div class="iconArea">
    
      <div id="row1" class="rowContainer">
        <div class="row">
        
          <a id="water_icon" class="icon leftIcon" href="home.html">
            <div class="iconElementsContainer">
              <div class="iconImg"><img src="/images/icon_water.png" alt="Water"></div>
              <div class="iconValue"><h1><%= @water["summary"]["water"].round(2) %></h1></div>
              <div class="iconUnit"><h2>fl oz</h2></div>
            </div>
          </a>
          
          <a id="steps_icon" class="icon rightIcon" href="steps.html">
            <div class="iconElementsContainer">
              <div class="iconImg"><img src="/images/icon_steps.png" alt="Steps"></div>
              <div class="iconValue"><h1><%= @stats["steps"] %></h1></div>
              <div class="iconUnit"><h2>steps</h2></div>
            </div>
          </a>
        </div>
      </div>
      <script>document.getElementById("row1").style.background-color = "blue";</script>
      
      <div id="row2" class="rowContainer">
        <div class="row">
        
          <a id="calories_icon" class="icon leftIcon" href="calories.html">
            <div class="iconElementsContainer">
              <div class="iconImg"><img src="/images/icon_calories.png" alt="Calories"></div>
              <div class="iconValue"><h1><%= @stats["activityCalories"] %></h1></div>
              <div class="iconUnit"><h2>cal</h2></div>
            </div>
          </a>
          
          <a id="weight_icon" class="icon rightIcon" href="home.html">
            <div class="iconElementsContainer">
              <div class="iconImg"><img src="/images/icon_weight.png" alt="Weight"></div>
              <div class="iconValue"><h1><%= @body_measurements["body"]["weight"] %></h1></div>
              <div class="iconUnit"><h2>lbs</h2></div>
            </div>
          </a>
        </div>
      </div>
      
      <div id="row3" class="rowContainer">
        <div class="row">
        
          <a id="sleep_icon" class="icon leftIcon" href="home.html">
            <div class="iconElementsContainer">
              <div class="iconImg"><img src="/images/icon_sleep.png" alt="Sleep"></div>
              <div class="iconValue"><h1><%= @sleep["summary"]["totalMinutesAsleep"]/60 %>:<%= @sleep["summary"]["totalMinutesAsleep"]%60 %></h1></div>
              <div class="iconUnit"><h2>hrs : min</h2></div>
            </div>
          </a>
          
          <a id="miles_icon" class="icon rightIcon" href="miles.html">
            <div class="iconElementsContainer">
              <div class="iconImg"><img src="/images/icon_miles.png" alt="Miles"></div>
              <div class="iconValue"><h1><%= @stats["distances"][0]["distance"].round(2) %></h1></div>
              <div class="iconUnit"><h2>mi</h2></div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div>
      
      <%= @stats.inspect %>

      <%= @sleep.inspect %>
      <h1>Stats.Steps: <%= @stats["steps"] %> </h1>
      <h1>Stats.Calories: <%= @stats["activityCalories"] %> </h1>
      <h1>Sleep: <%= @sleep["summary"]["totalMinutesAsleep"] %> </h1>
      <h1>Stats.Distance: <%= @stats["distances"][0]["distance"] %></h1>
      
      <%= @water.inspect %>
      <%= @body_measurements.inspect %>
      
      <h1>Water: <%= @water["summary"]["water"].round(2) %></h1>
      <h1>Weight: <%= @body_measurements["body"]["weight"] %></h1>
    </div>
    
    <div style="height: 30%; width: 46.66%; background-color: green;">greenbox</div>
</body>
